.container {
    padding: 1em;
    background-color: rgb(0, 0, 0, 0.6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: white;
}

#over-image h2 {
    padding: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

p,li {
    margin: 1em;
    line-height: 2.25em;
}

h2 {
    margin: 0.5em;
}

#navbarNav ul {
    margin-bottom: none;
}

#jumbo-container {
    margin-bottom: 5px;
    margin-left: 10px;
}

h1 {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-1 {
    background-color: #191970;
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d;
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff;
    color: #555555;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
/*.site-header>nav>a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 1.5em 1.5em 1.5em 1.5em;
    text-align: center;
    text-decoration: none;
    color: darkblue;
    vertical-align: middle;
}

.site-header>nav>a:hover {
    background-color: whitesmoke;
    font-weight: bold;
}

.banner>img {
    width: 100%;
    height: 40em;
    object-fit: cover;
}

.banner {
    position: relative;
    text-align: center;
}

.explore {
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0, 0.6);
    color: white;
    width: 40%;
    bottom: 40px;
    left: 20px;
    padding: 0px 20px 30px 20px;
    margin: 1.5em 1.5em 1.5em 1.5em;
    position: absolute;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: white;
    padding: 0em 0em 0em 0em;
}

.button {
    padding: 1em 2em 1em 2em;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6%;
}

.button:hover {
    background-color: blue;
}

h2,h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

#about>img {
    height: auto;
    width: 45%;
    float: right;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 2em;
}

p>a {
    color: darkblue;
}

#whitman {
    position: relative;
    text-align: center;
    color: black;
}

#whitman>img {
    height: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    width: 50%;
    object-fit: cover;
}

.over-image {
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

#about-me>img {
    height: auto;
    width: 15%;
    float: left;
    border-radius: 50%;
}

.foot {
    text-align: center;
    background-color: darkblue;
    color:white;
    padding: 1em 1em 1em 1em;
    margin-top: 2em;
}

.info-box {
    width: 50%;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0, 0.6);
    color: white;
    padding: 0.1em 1em 1em 1em;
    margin: 1em 0em 1em 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.info-box>h4 {
    font-size: 24px;
}

.profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.name-card {
    margin: 1em 1em 1em 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    width: 15%;
}

.name-card>a>img {
    border-radius: 10%;
    width: 100%;
    height: auto;
}

.hidden {
    color:transparent;
}

.hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
    border-radius: 10%;
}

.name-card:hover .hidden {
transform: scale(1);
}

.hidden>p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-pic {
    color: white;
    width: 20%;
    bottom: 40px;
    left: 20px;
    padding: 0px 20px 30px 20px;
    margin: 1.5em 1.5em 1.5em 1.5em;
    position: absolute;
}

.banner-pic>img {
    border-radius: 10%;
}

.banner-quote {
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0, 0.6);
    color: white;
    width: 60%;
    bottom: 40px;
    right: 100px;
    padding: 0px 20px 30px 20px;
    margin: 1.5em 1.5em 1.5em 1.5em;
    position: absolute;
}

.name-title>h1 {
    color: black;
    line-height: 0.4em;
}

.research-card>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 20px;
    font-weight: bold;
    margin-top: 0em;
    padding-top: 0em;
}

.research-card>a>img {
    width: 25%;
    height: auto;
}
*/