body {
    background-color: antiquewhite;
}

table>thead {
    text-align: center;
    color: darkblue;
}

table>tbody {
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

h1 {
    font-family: Helvetica;
    font-size: 48px;
    color:darkblue;
    text-align: center;
    border-bottom-style:solid;
    border-bottom-color: black;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: black;
    text-align: left;
    line-height: 1.5;
}